@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;      
  line-height: 1.7;      
  letter-spacing: 0.5px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  min-height: 100%;
}
@layer components {
  .card {
    @apply rounded-2xl bg-white border border-slate-200 shadow-lg p-6;
  }

  .card-title {
    @apply text-lg font-semibold text-slate-900 mb-4 mt-4;
  }

  .card-muted {
    @apply text-sm text-slate-600;
  }

  .card-kecil {
    @apply h-12 w-40 rounded-2xl bg-white border border-slate-200 shadow-lg p-0;
  }

  .avatar {
      @apply w-10 h-10 rounded-full bg-slate-200 
            flex items-center justify-center
            cursor-pointer hover:opacity-80 transition;
  }

  .avatar-sm {
    @apply w-8 h-8;
  }

  .avatar-md {
    @apply w-12 h-12;
  }

  .avatar-lg {
    @apply w-16 h-16;
  }
  .avatar-circle {
    @apply w-10 h-10 cursor-pointer hover:opacity-80 transition rounded-full bg-slate-200 text-slate-800 flex items-center justify-center font-semibold;
  }
  .dropdown-panel {
    @apply rounded-xl bg-white border border-slate-200 shadow-lg overflow-hidden;
  }

  .dropdown-item {
    @apply w-full text-left px-4 py-2 text-sm hover:bg-slate-50;
  }

  .dropdown-item-danger {
    @apply w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50;
  }

  .alert-enter {
    opacity: 0;
  }
  .alert-enter-active {
      opacity: 1;
      transition: opacity 0.3s ease-in;
  }
  .alert-exit {
      opacity: 1;
  }
  .alert-exit-active {
      opacity: 0;
      transition: opacity 0.3s ease-out;
  }


  
}