@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;      
  line-height: 1.7;      
  letter-spacing: 0.5px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  min-height: 100%;
}
